In [1]:
import os
from libs.extract_features import *
import pandas as pd
from collections import Counter

webshellFolder = os.path.curdir + '/dataset/cleaned'
benginFolder = os.path.curdir + '/dataset/benign'
data = []

for file in os.listdir(benginFolder):
    data.append(Counter(extract_function_name(benginFolder + '/' + file)))
  
df = pd.DataFrame(data)
df.fillna(0)
df.to_csv('dataset_bengin.csv', na_rep='0')
df

# test = extract_function_name(webshellFolder + '/' + '28a49a0b89063f8a21ab11760f81b5f2.php')
# counter = Counter(data)
# counter

,OO00OOO00,OO00OO0O0O,Createobject,Write,ready,function,create,ctrl,sync,submit,...,getDataMapper,getDataTransformer,getFormValidator,`with,normalizeRelations,createModels,instantiate,populateRecord,[[with,findWith
0,2.0,21.0,4.0,139.0,2.0,8.0,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,1.0,1.0

In [6]:
# Load CSV File
import pandas as pd

data = pd.read_csv('dataset_webshell.csv')
data.loc[:, data.columns.isin(['exec', 'cmd', 'shell_exec', 'ls'])]

      exec  shell_exec  cmd
0      0.0         0.0  0.0
1      0.0         0.0  0.0
2      2.0         1.0  0.0
3      1.0         1.0  0.0
4      2.0         2.0  0.0
...    ...         ...  ...
1022   0.0         0.0  0.0
1023   0.0         0.0  0.0
1024   0.0         4.0  0.0
1025   0.0         0.0  0.0
1026   0.0         0.0  0.0

[1027 rows x 3 columns]

In [1]:
import os
from libs.extract_features import *
import pandas as pd
from collections import Counter

webshellFolder = os.path.curdir + '/dataset/cleaned'

test = extract_function_name(webshellFolder + '/' + '2dea88ce443a0531536da1e9c529498f.php')
counter = Counter(test)
counter

Counter({'create': 2,
         'str_ireplace': 1,
         'strtr': 1,
         'cre': 1,
         'base64': 1,
         're': 1})